<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landing.css">
</head>
<body>
    <header>
    <nav class="nav-bar">
        <ul class="menu">
            <li>
                <a href="landing.html">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="landing.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>

        </ul>
        <button onclick="location.href='form.html'">Register</button>
        


    </nav>
    </header>
    <img class="logo" src="roboticslanding.jpg" alt="">
    <div class="intro">
    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, modi beatae. Error facilis, obcaecati hic sit ratione blanditiis culpa minus illo, cum impedit dolorem quidem reprehenderit dicta, reiciendis modi molestiae.</p>
    </div>

</body>
</html>